* {
   padding: 0px;
   background: none;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

h1 {
   font-family: 'robotBoldIta';
}

h3,
h2 {
   font-family: robotBoldIta;
}

body {
   background-image: linear-gradient(
      90deg,
      rgb(0, 0, 255),
      rgb(80, 0, 255),
      rgb(80, 0, 255),
      rgb(85, 0, 255),
      rgb(90, 0, 255)
   );
   background-color: ;
}

#name,
#submit {
   background: orange;
   border: none;
   color: #0059ff;
   padding: 0.8rem;
   border-radius: 5px;
   margin-bottom: 10px;
   font-family: robotBoldIta;
   font-size: 2rem;
   outline: none;
   border: 2px solid orange;
}

#submit {
   margin-left: 10px;
   cursor: pointer;
   color: none;
   -webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#nameInput button:hover {
   color: orange;
   background: none;
}

.items:nth-child(2) {
   border-top: 4px solid blue;
   border-radius: 20px 0px 0px 20px;
}

#reveal {
   width: 25px;
   height: 25px;
}
.totalDiv {
   display: flex;
}
.totalDiv,
.totals {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   margin-left: auto;
}

.totalDiv label,
.totals label {
   max-width: 10vw;
}

.totalDiv .check,
.totals .check {
   border: 3px solid orange;
   border-radius: 8px;
   height: 100%;
   margin-top: 0px;
   text-align: center;
}

.totalDiv .totals div,
.totals .totals div {
   width: 23vw;
   padding: 0px;
   text-align: center;
   margin: 10px;
   border: none;
   background: orange;
   color: #0059ff;
   font-size: 100%;
   border-radius: 8px;
}

.totalDiv h1,
.totalDiv h2,
.totals h1,
.totals h2 {
   margin: 0.5rem;
}

.totals {
   margin-left: 0px;
}

.items {
   padding: 15px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}

.items h1 {
   font-size: 3rem;
}

.items .item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   text-align: right;
   padding: 20px;
   width: auto;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.items .item .input {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
}

.items .item .price {
}

.price input {
   margin-left: 5px;
   padding: 0.6rem;
   font-size: 1rem;
   height: 4vh;
   border: none;
   color: orange;
   background-color: #0059ff;
   border-radius: 5px;
   outline: none;
   font-family: robotBoldIta;
}

.items .item .price h2 {
   margin-right: auto;
   font-family: robotBoldIta;
}

.items .item .prices {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   margin-left: auto;
}

.items .item .difference input {
   pointer-events: none;
}

#nameInput {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.line {
   width: 100%;
   height: 4px;
   border: none;
   background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(orange),
      color-stop(#ff4800),
      to(orange)
   );
   background-image: linear-gradient(90deg, orange, rgb(255, 0, 0), orange);
}
.price {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   padding: 0.5rem;
   background: orange;
   height: 6vh;
   border-radius: 5px;
   border: none;
   margin-left: 50px;
   margin-top: 20px;
   width: 50vw;
}
@media (min-width: 821px) {
}

@media (max-width: 820px) {
   .price {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      height: auto;
   }
   .price h2 {
      width: 100%;
      text-align: left;
   }
   .price label {
   }
   .price input {
      width: 90%;
      margin-left: auto;
   }
   .totals {
      flex-direction: column;
      width: 90%;
   }
   #totals div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      position: relative;
      padding: 0.5rem;
      width: 90%;

      flex-direction: row;
   }
   #name {
      width: 90%;
   }
   .totalDiv {
      flex-direction: column;
   }
}
/*# sourceMappingURL=styles.css.map */

.form-switch {
   display: inline-block;
   cursor: pointer;
   -webkit-tap-highlight-color: transparent;
   transition: all 1s linear;
   transition-delay: 1s;
}

.form-switch i {
   position: relative;
   display: inline-block;
   margin-right: 0.5rem;
   width: 46px;
   height: 26px;
   background-color: #e6e6e6;
   border-radius: 23px;
   vertical-align: text-bottom;
   transition: all 0.3s linear;
}

.form-switch i::before {
   content: '';
   position: absolute;
   left: 0;
   width: 42px;
   height: 22px;
   background-color: #888;

   border-radius: 11px;
   transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
   transition: all 0.25s linear;
}

.form-switch i::after {
   content: '';
   position: absolute;
   left: 0;
   width: 22px;
   height: 22px;
   background-color: #fff;
   border-radius: 11px;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
   transform: translate3d(2px, 2px, 0);
   transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
   width: 28px;
   transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
   transform: translate3d(16px, 2px, 0);
}

.form-switch input {
   display: none;
}

.form-switch input:checked + i {
   background-color: #4bd763;
}
.form-switch input + i {
   background-color: #888;
}
.form-switch input:checked + i::before {
   transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
   transform: translate3d(22px, 2px, 0);
}
